.card-container{
     display: grid;
     grid-template-columns: repeat(3,2fr);
     margin: 0px 120px;
}
.title-head{
     padding-top: 20px;
     text-align: center;
     font-size: 28px;
     text-transform: capitalize;
}
