/* blog part start */
.bolg-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 100px 30px;
}

.blog-title {
  margin-top: 60px;
  text-align: center;
}

.blog {
  background-color: aqua;
  padding: 20px;
  box-shadow: 3px 2px 4px gray;
}

.blog h3 {
  font-size: 22px;
  font-weight: 600;
}
.blog p {
  font-size: 20px;
  line-height: 22px;
}
/* blog part end */



/*********************************** For Mobile devices ********************************/
@media only screen and (max-width: 688px) {
  .bolg-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }
}

/************************************ For Tabs devices ***********************************/
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .bolg-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}
